{% extends 'base.html' %}

{% block content %}
  <h2>Registration</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {{ form }}
      {% endfor %}
    {% else %}
      {{ wizard.form }}
    {% endif %}
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous</button>
    {% endif %}
    <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.next }}">Next</button>
    <input type="submit" value="Finish" />
  </form>
{% endblock %}
